page-login-aluno {
    .no-scroll .scroll-content{
        overflow: hidden;
    }

    ion-content{
        background: url(../../assets/imgs/bg1.jpg);
        background-size: cover;
        
    }
}
